<center>


  <ul>

    <% @requests.map.split(',') do |request| %>
    <li>
    <%   space = @owned_spaces.find { |space| request.space_id == space.id } %>
    <%=  space.name %><br>
    Renter ID :<%=  request.renter_id  %>
    Status : <%=  request.confirmed  %>

    <form action='/requests_received' method="post">
      <input type="submit" name="status" value="confirmed">
      <input type="text" name="request_id" value="<%= request.id %>">
    </form>

    <form action='/requests_received' method="post">
      <input type="submit" name="status" value="declined">
      <input type="text" name="request_id" value="<%= request.id %>">
    </form>

    </li>
    <% end %>
</ul>
