<% if @user %>
  <h5 class="greeting">Hello, <%= @user.name %>!</h5>
<% end %>

<form action='/spaces/new' method='get'>
  <input class="button" type='submit' name='Add a space' value='Add a space'>
</form>

<center>
  <% @spaces.each do |space| %>
    <article class="space">
      <p class="space-name"><%= space.name %> <br>
      <p class="space-desc"><%= space.description %><br>
      £<%= space.price %><br>
      Available <br>
      <%= space.start %> to <%= space.end %></p>

      <form action='/spaces/<%= space.id %>' method='get'>
        <input class="button" type='submit' value='View space'>
      </form>
    </article>
  <% end %>
</center>
