<% if @user %>
  <h3 class="greeting">Hello, <%= @user.name %>!</h3>
<% end %>

<form action='/spaces/new' method='get'>
  <input type='submit' name='Add a space' value='Add a space'>
</form>

<center>
  <% @spaces.each do |space| %>
    <article class="space">
      <%= space.name %> <br>
          <%= space.description %> <br>
          £<%= space.price %>
          Available from <%= space.start_date %> to <%= space.end_date %>
          <form action='/spaces/<%= space.id %>' method='get'>
            <input type='submit' value='View space'>
          </form>
    </article>
  <% end %>
</center>
