<% if @user %>
  Hello <%= @user.name %>!
<% end %>

<center> <ul><% @spaces.each do |space| %>
  <li> <%= space.name %> <br>
       <%= space.description %> <br>
       £<%= space.price %>
       <form action='/spaces/<%= space.id %>' method='get'>
         <input type='submit' value='View space'>
       </form>
  </li>
  <% end %>
</ul>



<form action='/spaces/new' method='get'>
  <input type='submit' name='Add a space' value='Add a space'>
</form>

</center>
